p
{
  font-size:25px;
color: purple;
}
h2
{
  color:#ffe87c;
}
div
{
  background-color: yellow;

}
body
{
  background-color:#00abbb;
}
pre
{
  font-size: 25px;
  color: #eac117;
}
h1
{
  background-color: lightgreen;
}
img
{
  border-top: purple;
  border-radius: 22px;
  border-style:dotted;

  border-right:pink;
  border-radius: 22px;
  border-style:dotted;

  border-left:green;
  border-radius: 22px;
  border-style:dotted;

  border-bottom:green;
  border-radius: 22px;
  border-style:dotted;

}
ul
{
  font-style: Serif;
}
